body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
}
/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;

  /* main-content styles */
  &__content {
    background-color: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 90px 90px;
  }
}
/* about styles */
.about {
  margin-bottom: 40px;

  /* about-position about-name about-description */
  &__position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
  }
  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
  }
  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
  }
}
/* title style*/
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
/* projects styles */
.projects {
  margin-bottom: 50px;
  width: 485px;

  &__list {
    padding: 0;
    margin-left: 15px;
  }
  &__item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }
  &__wrap,
  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
  }
  &__bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }
}

/* work styles */
.work {
  width: 525px;
  margin-bottom: 45px;
}
.work-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.work-list {
  padding: 0;
  margin-left: 15px;
}
.work-list-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.work-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.company-2 {
  margin-top: 15px;
}
.company-3 {
  margin-top: 20px;
}
/* education styles */

.faculty {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* sidebar styles*/
.sidebar {
  background-color: #000b1a;
  padding-top: 40px;
  width: 370px;
}
/* foto */
.foto {
  width: 170px;
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* contacts  tech-skills soft-skills*/
.contacts,
.tech-skills,
.soft-skills {
  margin-left: 40px;
}
.contacts {
  margin-bottom: 50px;
}
.soft-skills {
  margin-top: 45px;
}
/* tech-skills-list */
.tech-skills-list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

/* sidebar-title */
.sidebar-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
/* contact-type*/
.contact-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}
/* contact-link */
.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3e4755;
}
/* tech-skills-item */
.tech-skills-item {
  color: #fb6d3a;
}
/* tech-skills-text */
.tech-skills-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
