<!--Main-->
<div class="main">
  <!--Main Content-->
  <div class="main__content">
    <!--About User-->
    <div class="about">
      <h2 class="about__position">Junior Front-End Developer</h2>
      <h1 class="about__name">Pavlo Bezsinniy</h1>
      <p class="about__description">
        I would like to express my interest in applying for a full-time job. In
        the course of my studies at GoIt School I received knowledge and skills
        necessary to this position. I would like to work for you, in order to
        use modern methods and technologies for the benefit of your company. I
        am certain that my skill set would make me a great candidate for this
        position.
      </p>
    </div>
    <!--Projects-->
    <div class="projects">
      <h3 class="title">Projects</h3>
      <ol class="projects__list">
        <li class="projects__item">
          <span class="projects__wrap"
            ><a
              href="https://pashatagir.github.io/team_project_icecream/"
              class="projects__link"
              >project_icecream/</a
            >
            .......................................
            <span class="projects__bracket">[</span> HTML5, CSS3
            <span class="projects__bracket">]</span></span
          >
        </li>
        <li class="projects__item">
          <span class="projects__wrap"
            ><a
              href="https://pashatagir.github.io/goit-js-hw-11/"
              class="projects__link"
              >https://pashatagir.github.io/goit-js-hw-11/</a
            >
            .............
            <span class="projects__bracket">[</span> JavaScript
            <span class="projects__bracket">]</span></span
          >
        </li>
      </ol>
    </div>
    <!--Work-->
    <div class="work">
      <h3 class="title">Work Experience</h3>
      <!--Company 1-->
      <div>
        <h4 class="work-position">
          Front-End Developer <span class="organization">Freelance</span>
        </h4>
        <p class="period">
          June 2022 - up to now <span class="line">|</span> Ukraine
        </p>
        <ul class="work-list">
          <li class="work-list-item">
            <span class="work-list-text"
              >Development and layout of single and multi-page websites.</span
            >
          </li>
          <li class="work-list-item">
            <span class="work-list-text"
              >Configuration and development of client-side and server-side
              cooperation.</span
            >
          </li>
          <li class="work-list-item">
            <span class="work-list-text"
              >Development of the interactive part of web applications using
              JavaScript and frameworks.</span
            >
          </li>
          <li class="work-list-item">
            <span class="work-list-text"
              >Refactoring and improving loading and processing performance of
              the web application.</span
            >
          </li>
        </ul>
      </div>
      <!--Company 2-->
    </div>
    <!--Education-->
    <div class="education">
      <h3 class="title">Education</h3>
      <h4 class="organization">GoIt School</h4>
      <h5 class="faculty">Fullstack Web-developer</h5>
      <p class="period">
        June 2022 - up to now <span class="line">|</span> UKRAINE
      </p>
      <h4 class="organization">Igor Sikorsky Kyiv Polytechnic Institute</h4>
      <h5 class="faculty">Publishing and Printing</h5>
      <p class="period">
        September 2001 - June 2006 <span class="line">|</span> UKRAINE
      </p>
    </div>
  </div>
  <!--Sidebar-->
  <aside class="sidebar">
    <img src="img/photo2.jpg" alt="user photo" class="foto" />
    <!--Contacts-->
    <div class="contacts">
      <h3 class="sidebar-title">Contacts</h3>

      <ul class="tech-skills-list">
        <li class="tech-skills-item">
          <span class="tech-skills-text"><a href="tel:+380677000076" class="contact-link">+38 067 700 00 07</a></span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text"><a href="mailto:tagir.kiev@gmail.com" class="contact-link"
            >tagir.kiev@gmail.com</a
          ></span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text"><a href="https://github.com/pashatagir" class="contact-link"
            >GitHub</a
          ></span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text"><a href="https://www.linkedin.com/in/pavlo-bezsinniy/" class="contact-link"
            >Linkedin</a
          ></span>
        </li>
    </div>
    <!--Tech Skills-->
    <div class="tech-skills">
      <h3 class="sidebar-title">Tech Skills</h3>
      <ul class="tech-skills-list">
        <li class="tech-skills-item">
          <span class="tech-skills-text">HTML5</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">CSS3</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">GIT</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">WebPack</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">JavaScript</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">React.js</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Node.js</span>
        </li>
      </ul>
    </div>
    <!--Soft Skills-->
    <div class="soft-skills">
      <h3 class="sidebar-title">Soft Skills</h3>
      <ul class="tech-skills-list">
        <li class="tech-skills-item">
          <span class="tech-skills-text">Scrum</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Agile</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">GTD</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Teamwork</span>
        </li>
      </ul>
    </div>

    <!--Languages Skills-->
    <div class="soft-skills">
      <h3 class="sidebar-title">Languages Skills</h3>
      <ul class="tech-skills-list">
        <li class="tech-skills-item">
          <span class="tech-skills-text">English : pre-intermediate</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Ukrainian : native</span>
        </li>
        <li class="tech-skills-item">
          <span class="tech-skills-text">Russian : native</span>
        </li>
      </ul>
    </div>
  </aside>
</div>
